body {
	background-image: url(https://images.unsplash.com/photo-1504060765228-f97d1772ff9e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
	background-size: cover;
}


footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #001d3a;
    color: #fff;
	position: fixed;
	top: 95%;
	width: 100%;
}

a{
    cursor: pointer;
}